.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.faButton {
  width: 25%;
  height: 40px;
  background-color: inherit;
  color: inherit;
  border: 1px solid white;
}

.faButton:hover,
.faButton:hover>* {
  background-color: gray;
  color: black;
}


/* engine evaluation tooltip */
.evalTooltip {
  position: relative;
  display: inline-block;
}

.evalTooltip .tooltipText {
  visibility: hidden;
  width: 160px;
  position: absolute;
  z-index: 3;
  background-color: gray;
  border-radius: 15px;
  padding: 5px 0;
  top: 0;
  text-align: center;
  left: 50%;
  margin-left: -80px;
  transform: translateY(-75px);
}

.evalTooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.evalTooltip :first-child:hover+.tooltipText {
  visibility: visible;
}