/* fontawesome icons styling */
.faButton {
  width: 25%;
  height: 40px;
  background-color: inherit;
  color: inherit;
  border: 1px solid white;
}

.faButton:hover,
.faButton:hover>* {
  background-color: gray;
  color: black;
  cursor: pointer;
}


/* engine evaluation tooltip */
.evalWrapper {
  position: relative;
  display: inline-block;
}

.evalWrapper .tooltipText {
  visibility: hidden;
  width: 160px;
  position: absolute;
  z-index: 3;
  background-color: gray;
  border-radius: 15px;
  padding: 5px 0;
  top: 0;
  text-align: center;
  left: 50%;
  margin-left: -80px;
  transform: translateY(-75px);
}

.evalWrapper .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.evalWrapper :first-child:hover+.tooltipText {
  visibility: visible;
}

/* some wrapper styling */
.chessBoardUIWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.buttonWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.moveListWrapper {
  background-color: rgb(116, 105, 105);
  margin: 0 0 0 0;
}

.positionExplanationCanvasWrapper {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}