.evalWrapper {
    position: relative;
    display: inline-block;
}

.evalWrapper .tooltipText {
    visibility: hidden;
    /* width: 200px; */
    position: absolute;
    z-index: 3;
    background-color: beige;
    width: auto;
    /* border-radius: 15px; */
    padding: 2px;
    top: 0;
    text-align: center;
    left: 50%;
    margin-left: -80px;
    transform: translateY(calc(-175px));
}

.evalWrapper .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: beige transparent transparent transparent;
}

.evalWrapper :first-child:hover+.tooltipText {
    visibility: visible;
}