.parentWrapper {
    list-style: none;
    background-color: rgb(62, 62, 62);
    cursor: pointer;
    width: auto;
    /* border: 2px blue solid; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parentWrapper:hover,
.parentWrapper:active {
    background-color: black;
}

.childrenWrapper {
    background-color: rgb(104, 104, 104);
    height: 0px;
    transition: height 0.1s ease;
    border-top: 0;
    overflow: hidden;
    width: auto;
}

.childrenWrapper ul {
    list-style-type: none;
    padding: 0 0 0 10px;
}